.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



.test{
  display: flex;
  justify-content: center;
  align-items: center;
}





/* .login-box {
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1px;
  box-shadow:
    0 0 20px 0 rgba(0, 0, 0, 0.4),
    0 0 0 2000px rgba(#0c0d1f, 0.3);
  transform:
    translate3d(-50%, -50%, 0)
    scale(1, 1);
  width: 90%;
  max-width: 1000px;


} */


.login-box{
    border: 1px solid red;
    display: flex;
    align-items: center;
    width: 80%;
    height: 80vh;
}

.formPic{
  background-image: url(./img/photo-1554976326-348a0ecbb9d9.jpg);
  width: 50%;
  height: 100%;

}

.Form{
  width: 50%;
  display: flex;

}

.hideForm{
  display:none !important;
}
.displayForm{
  display:flex;
  justify-content:center;
  align-items:center;
}