.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



.test{
  display: flex;
  justify-content: center;
  align-items: center;
}





/* .login-box {
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1px;
  box-shadow:
    0 0 20px 0 rgba(0, 0, 0, 0.4),
    0 0 0 2000px rgba(#0c0d1f, 0.3);
  transform:
    translate3d(-50%, -50%, 0)
    scale(1, 1);
  width: 90%;
  max-width: 1000px;


} */


.login-box{
    border: 1px solid red;
    display: flex;
    align-items: center;
    width: 80%;
    height: 80vh;
}

.formPic{
  background-image: url(./img/photo-1554976326-348a0ecbb9d9.jpg);
  width: 50%;
  height: 100%;

}

.Form{

  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
form{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .issuesBox{
  border: red 1px dashed; 
  margin: 1rem;
  display: flex;
} */



/* .voteButton{
  width: 10%;
  margin: 1rem;
} */



.hideForm{
  display:none !important;
}
.displayForm{
  display:flex;
  justify-content:center;
  align-items:center;
}
.expandDescription{
  max-height:150px !important;
  overflow: auto !important;
  background: none !important;
}





.menuButton{
  border: green 1px solid; 
  margin: .1rem;
  }
  .showMenu{
    display: flex !important;
  }

  .navLinkStyle{
    text-decoration: none;
    color: #FFF;
    text-decoration: none;
    font: .6rem Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }
