@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



.test{
  display: flex;
  justify-content: center;
  align-items: center;
}





/* .login-box {
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1px;
  box-shadow:
    0 0 20px 0 rgba(0, 0, 0, 0.4),
    0 0 0 2000px rgba(#0c0d1f, 0.3);
  transform:
    translate3d(-50%, -50%, 0)
    scale(1, 1);
  width: 90%;
  max-width: 1000px;


} */


.login-box{
    
    display: flex;
    align-items: center;
    width: 80%;
    margin: 2rem;
    height: 80vh;

    box-shadow: 5px 5px 30px 10px rgba(0,0,0,0.10), -5px 0px 30px 10px rgba(0,0,0,0.10);
}

.formPic{
  background-image: url(./img/handise.jpg);
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.signUpformPic{
  background-image: url(./img/spotLight.jpg);
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.Form{

  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
form{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .issuesBox{
  border: red 1px dashed; 
  margin: 1rem;
  display: flex;
} */



/* .voteButton{
  width: 10%;
  margin: 1rem;
} */

.voted-color{
  background-color: #39b128 !important;
}
.hideButton{
  display: none !important;
}


.hideForm{
  display:none !important;
}
.displayForm{
  display:flex;
  justify-content:center;
  align-items:center;
}
.expandDescription{
  max-height:150px !important;
  overflow: auto !important;
  background: none !important;
}





.menuButton{
  border: green 1px solid; 
  margin: .1rem;
  }
  .showMenu{
    display: flex !important;
  }

  .showSearchBar{
    display: flex !important;
    animation: appear .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 1 !important;
  }

  @keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


  .navLinkStyle{
    text-decoration: none;
    color: #FFF;
    text-decoration: none;
    font: .6rem Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }
